html {
  @include layout-sandwich(
    60px,
    ".Page-header",
    150px,
    ".Page-footer",
    ".Page-body"
  );
}

.Page-header {
  margin: 0;
  padding: 0 15px;
  border-bottom: 1px solid #050835;
  background-color: #1e2332;
  @include pie-clearfix;
}

.Page-footer {
  position: relative;
  z-index: 2;
  padding-top: 50px;
  border-top: 1px solid #313444;
  background-color: #1e2332;
  color: #ddd;

  p {
    margin-bottom: 0;
  }

  a {
    color: inherit;
    border-bottom: 1px dotted #eee;

    &:hover {
      color: #fff;
      text-decoration: none;
      border-bottom: 1px solid #fff;
    }
  }
}

.Header {
  ul {
    list-style: none inside none;
    margin: 0;
    padding: 0;
  }

  a {
    &:link,
    &:visited,
    &:focus,
    &:hover,
    &:active {
      text-decoration: none;
    }
  }
}

.Header-brand,
.Header-brand a,
.Header-extra,
.Header-operations,
.Header-action {
  height: 100%;
}

.Header-brand {
  float: left;
  margin-left: 5px;

  a {
    position: relative;
    display: block;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.1;

    &:before {
      content: $UN-space;
      @include inline-block;
      width: 0;
      height: 100%;
    }

    img,
    span {
      @include inline-block;
    }

    img {
      height: 24px;
      max-height: 100%;

      + span {
        position: relative;
        padding-left: 21px;

        &:before {
          content: $UN-space;
          width: 1px;
          background-color: #fff;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 10px;
          right: auto;
        }
      }
    }

    span {
      padding-left: 10px;
      color: #fff;
    }
  }
}

.Header-extra {
  float: right;
}

.Header-navs {
  &,
  ul,
  li {
    float: left;
    height: 100%;
  }

  li {
    padding: 0 5px;
    @include text-middle("> a");
  }

  a {
    color: #fff;
  }
}

.Header-brand + .Header-navs {
  margin-left: 50px;

  li.is-active a,
  a:hover {
    border-bottom-color: #ffa200;
  }

  a {
    height: 100%;
    padding: 0 20px;
    line-height: 60px;
    font-size: 16px;
    border-bottom: 2px solid transparent;
  }
}

.Header-extra .Header-navs {
  li.is-active a,
  a:hover {
    background-color: #fff;
    color: #1e2332;
  }

  a {
    $h: 30px;

    height: $h;
    padding: 0 15px;
    line-height: ($h - 2px);
    border: 1px solid #fff;
    border-radius: 3px;
  }
}
