@import "./helper";

body {
  font-weight: 300;
  background-color: #E9E9E9;
}

img {
  max-width: 100%;
}

.Page,
.Page .Page-header,
.Page .Page-footer {
  @include box-sizing(border-box);
}

.Page-header {
  height: 61px;
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0 15px;
  border-bottom: 1px solid #050835;
  background-color: #1e2332;
  overflow: visible !important;
  *zoom: 1;
  @include pie-clearfix;
}

.Page-body {
  min-height: 100%;

  &:before,
  &:after {
    position: relative;
    z-index: -999999999;
    content: $UN-space;
    display: block;
    visibility: hidden;
    background: transparent none;
  }

  &:before {
    height: 0;
  }

  &:after {
    height: 210px;
  }
}

.Header ul {
  list-style: none inside none;
  margin: 0;
  padding: 0;
}

.Header-brand,
.Header-brand a,
.Header-extra,
.Header-operations,
.Header-action,
.Header-navs,
.Header-navs ul,
.Header-navs li {
  height: 100%;
}

.Header-brand,
.Header-navs,
.Header-navs ul,
.Header-navs li {
  float: left;
}

.Header-brand {
  margin-left: 5px;

  a {
    position: relative;
    display: block;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.1;

    &:before {
      content: $UN-space;
      @include inline-block;
      width: 0;
      height: 100%;
    }

    img,
    span {
      @include inline-block;
    }

    img {
      height: 24px;
      max-height: 100%;

      + span {
        position: relative;
        padding-left: 21px;

        &:before {
          content: $UN-space;
          width: 1px;
          background-color: #fff;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 10px;
          right: auto;
        }
      }
    }

    span {
      padding-left: 10px;
      color: #fff;
    }
  }
}

.Header-navs {
  li {
    padding: 0 5px;

    &:before {
      content: $UN-space;
      height: 100%;
    }
  }

  li:before,
  a {
    @include inline-block;
  }

  a {
    color: #fff;
    text-decoration: none !important;
  }
}

.Header-brand + .Header-navs {
  margin-left: 50px;
}

.Header-brand + .Header-navs li.is-active a,
.Header-brand + .Header-navs a:hover {
  border-bottom-color: #ffa200;
}

.Header-brand + .Header-navs a {
  height: 100%;
  padding: 0 20px;
  line-height: 60px;
  font-size: 16px;
  border-bottom: 2px solid transparent;
}

.Content-header {
  position: relative;
  min-height: 420px;
  background: url("../images/team.jpg") transparent 50% 50%;
  background-size: cover;
  border-top: 1px solid #313444;
  border-bottom: 1px solid #ffa200;
  box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
  /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.1);*/
}

.Content-header:before {
  content: "\0020";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(30, 35, 50, .75);
}

.Content-header h1 {
  height: 36px;
  margin: 0;
  font-size: 36px;
  font-weight: inherit;
  line-height: 1;
  text-align: center;
}

.Content-header h1:before {
  content: "\0020";
  width: 0;
  height: 100%;
  vertical-align: middle;
}

.Content-header h1:before,
.Content-header h1 > a,
.Content-header h1 > a span {
  display: inline-block;
}

.Content-header h1 > a {
  height: 100%;
  color: #fff;
}

.Content-header h1 > a,
.Content-header h1 > a img,
.Content-header h1 > a span {
  vertical-align: top;
}

.Content-header h1 > a img {
  height: 100%;
}

.Content-header h1 > a span {
  margin-left: 15px;
  padding-left: 12px;
  border-left: 1px solid #fff;
}
