@import "./helper";
@import "./layout";

.Page-header,
.Page-body {
  position: relative;
}

.Page-header {
  z-index: 2;
  background-color: transparent;
  border-bottom-style: none;
}

.Page-body {
  z-index: 1;

  &:before {
    display: none !important;
  }
}

.Content-header {
  position: relative;
  height: 480px;
  border-bottom: 1px solid #ffa200;
  box-shadow: 0 1px 8px rgba(#ccc, .3);
}

.Slide {
  position: relative;
  height: 100%;
  background: {
    color: transparent;
    position: 50% 50%;
    size: cover;
  }

  &:before {
    content: $UN-space;
    @include stretch;
    z-index: 1;
    background-color: rgba(0, 0, 0, .5);
  }
}

.Slide-body {
  position: relative;
  z-index: 2;
  height: 100%;

  > div {
    margin-top: -60px;
    @include text-middle(".Slide-description");
  }
}

.Banner {
  padding: 60px 0 30px;
  color: #fff;
}

.Banner-title {
  margin: 0;
  font-size: 54px;
}

.Banner-description {
  margin: 40px 0 0;
  font-size: 20px;
  line-height: 1.8;
}

.Banner-links {
  margin-top: 50px;
  @include pie-clearfix;

  a {
    float: left;
    border-radius: 6px;
    background-color: rgba(#ffa200, .9);
    padding: 10px 20px;
    font-size: 18px;

    &:link,
    &:visited,
    &:focus,
    &:hover,
    &:active {
      color: inherit;
      text-decoration: none;
    }

    &:hover {
      background-color: #ffa200;
    }

    .fa {
      margin-left: 10px;
    }
  }
}

.Section--projects {
  background-color: rgb(30, 35, 50);

  a {
    position: relative;
    display: block;
    height: 250px;
    background: {
      color: transparent;
      position: 50% 50%;
      size: cover;
    }
    text-decoration: none;
    color: #fff;

    &:before {
      content: $UN-space;
      @include stretch;
      z-index: 1;
      background-color: rgba(0, 0, 0, .5);
    }
  }

  .container {
    position: relative;
    z-index: 2;
    height: 100%;
    padding: 50px 0;

    h3 {
      margin: 0;
      font-size: 36px;
      line-height: 1.5;
    }

    p {
      margin: 10px 0 0;
      font-size: 16px;
      line-height: 1.8;
    }
  }
}
