@import "./helper";
@import "./layout";

.Page-header,
.Page-body {
  position: relative;
}

.Page-header {
  z-index: 2;
  background-color: transparent;
  border-bottom-style: none;
}

.Page-body {
  z-index: 1;

  &:before {
    display: none !important;
  }
}

.Content-header {
  position: relative;
  min-height: 480px;
  background: url("../images/team.jpg") transparent 50% 50%;
  background-size: cover;
  border-bottom: 1px solid #ffa200;
  box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
  /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.1);*/

  &:before {
    content: $UN-space;
    @include stretch;
    z-index: 1;
    background-color: rgba(30, 35, 50, .75);
  }

  h1 {
    height: 36px;
    margin: 0;
    font-size: 36px;
    font-weight: inherit;
    line-height: 1;
    text-align: center;

    &:before {
      content: $UN-space;
      width: 0;
      height: 100%;
      vertical-align: middle;
    }

    &:before,
    > a,
    > a span {
      display: inline-block;
    }
  }

  > a {
    height: 100%;
    color: #fff;

    &,
    img,
    span {
      vertical-align: top;
    }

    img {
      height: 100%;
    }

    span {
      margin-left: 15px;
      padding-left: 12px;
      border-left: 1px solid #fff;
    }
  }
}
