<html lang="zh-CN" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!-- SEO -->
    <title>卖好车研发中心</title>
    <!-- 页面渲染兼容性 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- 站点 icon -->
    <link rel="icon" href="../assets/images/favicon.png">
    <link rel="stylesheet" href="../vendors/unslider-2.0.3/dist/css/unslider.css">
    <link rel="stylesheet" href="../vendors/unslider-2.0.3/dist/css/unslider-dots.css">
    <link rel="stylesheet" href="../vendors/fontawesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/stylesheets/global.scss">
    <link rel="stylesheet" href="../assets/stylesheets/home.scss">
  </head>
  <body class="Page" itemscope itemtype="http://schema.org/WebPage">
    <header class="Page-header Header">
      <div class="Header-brand">
        <a href="/"><img src="../assets/images/logo.png" srcset="../assets/images/logo-2x.png 2x" alt="卖好车"><span>研发中心</span></a>
      </div>
      <div class="Header-extra">
        <nav class="Header-navs">
          <ul>
            <li><a href="https://blog.maihaoche.com/" target="_blank">博客</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="Page-body">
      <article class="Page-content Content">
        <header class="Content-header">
          <div class="Content-slides">
            <ul>
              <li class="Slide" style="background-image: url('../assets/images/projects/muu.jpg');">
                <div class="Slide-body container">
                  <div class="col-xs-12">
                    <div class="Slide-description Banner">
                      <h3 class="Banner-title">卖好车统一 UI 框架</h3>
                      <p class="Banner-description">使卖好车后台类系统保持界面风格、技术栈一致，<br>提高开发效率和稳定性的 UI 框架。</p>
                      <div class="Banner-links">
                        <a href="http://mdc.maihaoche.com/muu/" target="_blank"><span>访问网站</span><i class="fa fa-angle-right"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="Slide" style="background-image: url('../assets/images/projects/b3.jpg');">
                <div class="Slide-body container">
                  <div class="col-xs-12">
                    <div class="Slide-description Banner">
                      <h3 class="Banner-title">Bumblebee</h3>
                      <p class="Banner-description">前端团队辅助命令行工具，<br>具备上传文件、脚手架等功能。</p>
                      <div class="Banner-links">
                        <a href="https://github.com/maihaoche/bumblebee" target="_blank"><span>访问网站</span><i class="fa fa-angle-right"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </header>
        <section class="Section Section--features container">
          <header class="col-xs-12">
            <h2><span>团队中的每个人</span></h2>
          </header>
          <div class="col-xs-4">
            <h3>专业</h3>
            <p>具备很强的专业能力，能够高效地编写出健壮性高的代码。</p>
          </div>
          <div class="col-xs-4">
            <h3>敬业</h3>
            <p>熟悉并掌握公司的业务，为了支撑公司的快速发展而奋斗。</p>
          </div>
          <div class="col-xs-4">
            <h3>开放</h3>
            <p>善于分享，帮助团队中其他成员完善薄弱的知识环节。</p>
          </div>
          <div class="col-xs-12">
            <p class="Paragraph--join">你是否想要<a href="https://b.maihaoche.com/n/recruitment/" target="_blank">加入我们</a>了呢？</p>
          </div>
        </section>
      </article>
    </main>
    <footer class="Page-footer">
      <div class="container">
        <p>&copy; 2017 <a href="http://mdc.maihaoche.com/">卖好车研发中心</a> 版权所有</p>
      </div>
    </footer>
    <script src="../vendors/jquery-1.12.0/dist/jquery.min.js"></script>
    <script src="../vendors/unslider-2.0.3/dist/js/unslider-min.js"></script>
    <script src="../assets/javascripts/home.js"></script>
  </body>
</html>
