<html lang="zh-CN" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!-- SEO -->
    <title>卖好车研发中心</title>
    <!-- 页面渲染兼容性 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- 站点 icon -->
    <link rel="icon" href="../assets/images/favicon.png">
    <link rel="stylesheet" href="../assets/stylesheets/global.scss">
    <link rel="stylesheet" href="../assets/stylesheets/home.scss">
  </head>
  <body class="Page" itemscope itemtype="http://schema.org/WebPage">
    <header class="Page-header Header">
      <div class="Header-brand">
        <a href="/"><img src="../assets/images/logo.png" srcset="../assets/images/logo-2x.png 2x" alt="卖好车"><span>研发中心</span></a>
      </div>
      <nav class="Header-navs">
        <ul>
          <li><a href="https://blog.maihaoche.com/" target="_blank">博客</a></li>
        </ul>
      </nav>
    </header>
    <main class="Page-body">
      <article class="Page-content Content">
        <header class="Content-header">
          <!-- <div class="container">
            <h1><a href="/"><img src="assets/images/logo.png" srcset="assets/images/logo-2x.png 2x" alt="卖好车"><span></span></a></h1>
          </div> -->
        </header>
        <div class="Content-body"></div>
      </article>
    </main>
  </body>
</html>
